*.zip
*.pyc
*.DS_Store
*.npy
*glove.6B.50d.txt
Named Entity Recognition/model
Named Entity Recognition/tokenizer
Question Answering/model
Question Answering/tokenizer
Question Answering/results
Embedding plus Positional encoding/glove
*.arrow